# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor/
.vscode/

# Binary produced by `go build`
whatchu-merchant-api
debug

.idea/
web-server/.firebase/hosting.cHVibGlj.cache
api-server/api-server
web-server/public/index.html
